.footer {
  padding-top: 60px;
  padding-bottom: 140px;

  @media (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @media (max-width: 767px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .footer-brand-container {
    .footer-brand {
      text-decoration: none;
      font-size: 30px;
      margin-bottom: 14px;
    }
  }

  .footer-details-container {
    @media (max-width: 1199px) {
      padding-top: 30px;
    }

    @media (max-width: 767px) {
      padding-top: 45px;
    }
  }

  .footer-text {
    color: var(--t-dark-color);
    font-size: 16px;
  }
}
